body {
  background-color: #3e3e3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "NanumSquareLight";
  color: #ffffff;
}

h1 {
  /* font-family: "NanumBarunGothicBold"; */
  font-size: 50px;
}

.cb {
  width: 20px;
  height: 20px;
  transform: scale(1);
  margin-right: 15px;
  margin-left: 40px;
}

#name {
  font-size: 30px;
  margin-bottom: 10px;
}

#select {
  font-size: 23px;
}

#checkbox-label {
  font-size: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.full-map {
  width: 1500px;
  height: 950px;
  /* display: flex;
  flex-direction: row; */
}

#howto {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.checkbox-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 1200px;
  height: 85px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

#map {
  width: 1200px;
  height: 720px;
}

.detail-graph {
  width: 1500px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.graph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.sankey {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#day-graph {
  width: 650px;
  height: 380px;
  font-size: 25px;
  /* border: 1px solid red; */
}

#time-graph {
  width: 650px;
  height: 380px;
  font-size: 25px;
  /* border: 1px solid blue; */
}

#time-sankey-chart {
  width: 650px;
  height: 400px;
  font-size: 25px;
  /* border: 1px solid green; */
}

#day-sankey-chart {
  width: 650px;
  height: 400px;
  font-size: 25px;
  /* border: 1px solid blueviolet; */
}

.line-pop {
  fill: none;
  stroke: #5785af;
  stroke-width: 4px;
}

.line-rev {
  fill: none;
  stroke: #a6507e;
  stroke-width: 4px;
}

.bar-pop {
  fill: #5785af;
}

.bar-rev {
  fill: #a6507e;
}

.land {
  fill: white; /* Set the fill color of the land paths to white */
  stroke: #333;
  stroke-width: 3px;
}
